.chat_wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "display"
    "sender";
}

.chat_header {
  grid-area: header;
}

.chat_display {
  grid-area: display;
}

.chat_sender {
  grid-area: sender;
}