.chat_wrapper {
  position: relative;
}

.chat_header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 800px;
}

.chat_display {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 200px;
  overflow-y: auto;
}

.chat_sender {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  bottom: 0;
}