.wrapper {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background: white;
  padding: 10px;
}

.my {
  margin-left: 50px;
}

.alien {
  margin-right: 50px;
}

.top {
  font-size: 12px;
}

.sender {
  display: inline-block;
  font-weight: bold;
}

.message_time {
  display: inline-block;
  float: right;
}

.message_text {

}