.message_wrapper {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background: white;
  padding: 10px;
}

.message_my {
  margin-left: 50px;
}

.message_alien {
  margin-right: 50px;
}

.message_top {
  font-size: 12px;
}

.message_sender {
  display: inline-block;
  font-weight: bold;
}

.message_time {
  display: inline-block;
  float: right;
}

.message_text {

}